

ul li{
	display: inline-block;
	margin: 0 60px 0 0;
}


.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.apartmentTable img {
    width:300px;
    height: 150px;
}

tr.selected {
	background-color: #aaaaaa;
}

tr.selectedApartment {
	background-color: #aaaaaa;
}